<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Specify the Node.js entry point -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Configure IIS Node -->
    <iisnode 
      nodeProcessCommandLine="D:\Program Files (x86)\nodejs\node.exe" 
      node_env="production" 
      loggingEnabled="true"
      devErrorsEnabled="true" />
    
    <!-- Rewrite rules to handle requests -->
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*\.(js|css|png|jpg|gif|ico|html)$" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Pass through HTTP errors -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>